$header_height:100px;
.page_content{
  min-width: calc(1300px / 6 * 6);
  overflow-x: auto;
}
.main_header{
  height: $header_height;
}
.main_slider{
  height: calc(100vh - #{$header_height});
}
.flex {
  display: flex;
}

.row {
  @extend .flex;
  flex-direction: row;
}

.column {
  @extend .flex;
  flex-direction: column;
}

.flex_v_center {
  @extend .flex;
  justify-content: center;
}

.flex_h_center {
  @extend .flex;
  align-items: center;
}

.flex_between {
  @extend .flex;
  justify-content: space-between;
}

.flex_around {
  @extend .flex;
  justify-content: space-around;
}

.flex_middle {
  @extend .flex_h_center;
  @extend .flex_v_center;
}

.flex_r_auto {
  margin-right: auto;
}

.flex_l_auto {
  margin-left: auto;
}

.flex_1 {
  flex: 1;
}

.txt_c {
  text-align: center;
}

.txt_l {
  text-align: left;
}

.txt_r {
  text-align: right;
}

@for $i from 1 through 20 {
  .ml-#{5*$i} {
    margin-left: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .mr-#{5*$i} {
    margin-right: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .mt-#{5*$i} {
    margin-top: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .mb-#{5*$i} {
    margin-bottom: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .pl-#{5*$i} {
    padding-left: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .pr-#{5*$i} {
    padding-right: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .pt-#{5*$i} {
    padding-top: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .pb-#{5*$i} {
    padding-bottom: 5px * $i;
  }
}

@for $i from 12 through 40 {
  .fz-#{1*$i} {
    font-size: 1px * $i;
  }
}